In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

In [2]:
# File to Load (Remember to Change These)
fileordprod = "./data/brazilian-ecommerce/olist_order_items_dataset.csv"

# Read Purchasing File and store into Pandas data frame
ordprod = pd.read_csv(fileordprod)[['order_id', 'product_id', 'price']]
print(ordprod.shape)
ordprod.head()

(112650, 3)

                           order_id                        product_id   price
0  00010242fe8c5a6d1ba2dd792cb16214  4244733e06e7ecb4970a6e2683c13e61   58.90
1  00018f77f2f0320c557190d7a144bdd3  e5f2d52b802189ee658865ca93d83a8f  239.90
2  000229ec398224ef6ca0657da4fc703e  c777355d18b72b67abbeef9df44fd0fd  199.00
3  00024acbcdf0a6daa1e931b038114c75  7634da152a4610f1595efa32f14722fc   12.99
4  00042b26cf59d7ce69dfabb4e55b4fd9  ac6c3623068f30de03045865e4e10089  199.90

In [3]:
# File to Load (Remember to Change These)
fileordcusttime = "./data/brazilian-ecommerce/olist_orders_dataset.csv"

# Read Purchasing File and store into Pandas data frame
ordcusttime= pd.read_csv(fileordcusttime)[['order_id', 'customer_id', 'order_purchase_timestamp']]
print(ordcusttime.shape)
ordcusttime.head()

(99441, 3)

,order_id,customer_id,order_purchase_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39

In [4]:
# File to Load (Remember to Change These)
fileprodcat = "./data/brazilian-ecommerce/olist_products_dataset.csv"

# Read Purchasing File and store into Pandas data frame
prodcat = pd.read_csv(fileprodcat)[['product_id', 'product_category_name']]
prodcat.head()

                         product_id  product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

In [5]:
# File to Load (Remember to Change These)
fileprodtransl = "./data/brazilian-ecommerce/product_category_name_translation.csv"

# Read Purchasing File and store into Pandas data frame
prodtransl = pd.read_csv(fileprodtransl)
prodtransl.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [6]:
import time
mergedf = pd.merge(ordcusttime, ordprod, on = 'order_id',how= 'left')
mergedf = pd.merge(mergedf, prodcat, on = 'product_id', how = 'left')
mergedf = pd.merge(mergedf, prodtransl, on = 'product_category_name', how = 'left')
renamecolumns = {
    'order_purchase_timestamp': 'order_time',
    'product_category_name_english': 'category'
}
mergedf = mergedf.rename(columns = renamecolumns)

mergedf ["date_time"]= pd.to_datetime(mergedf['order_time'])

#mergedf = mergedf[['order_purchase_timestamp', 'product_category_name_english', 'price']]

#renamecolumns = {
  #  'order_purchase_timestamp': 'time',
    #'product_category_name_english': 'category'
#}
#mergedf = mergedf.rename(columns = renamecolumns)
#print(mergedf.shape)
#len(mergedf['category'].unique())

In [7]:
mergedf['YYYY'] = pd.DatetimeIndex(mergedf['date_time']).year
mergedf['MM'] = pd.DatetimeIndex(mergedf['date_time']).month
mergedf

#converted to MM/YY Format
mergedf['month'] = pd.to_datetime(mergedf['date_time'])
mergedf['month'] = mergedf['month'].dt.strftime('%m/%y')

mergedf.head()

,order_id,customer_id,order_time,product_id,price,product_category_name,category,date_time,YYYY,MM,month
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,aa4383b373c6aca5d8797843e5594415,159.90,automotivo,auto,2018-08-08 08:38:49,2018,8,08/18
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,d0b61bfb1de832b15ba9d266ca96e5b0,45.00,pet_shop,pet_shop,2017-11-18 19:28:06,2017,11,11/17
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,65266b2da20d04dbe00c5c2d3bb7859e,19.90,papelaria,stationery,2018-02-13 21:18:39,2018,2,02/18

In [8]:
# URL for GET requests to retrieve data
urlCPI = "https://www.quandl.com/api/v3/datasets/BCB/191.json?api_key=2vRuu5GNchksqBdcAHzc"
urlBOV = "https://www.quandl.com/api/v3/datasets/BCB/7.json?api_key=2vRuu5GNchksqBdcAHzc"
urlEMP = "https://www.quandl.com/api/v3/datasets/BCB/10806.json?api_key=2vRuu5GNchksqBdcAHzc"

responseCPI = requests.get(urlCPI).json()
#print(json.dumps(response, indent=4, sort_keys=True))

responseBOV = requests.get(urlBOV).json()
#print(json.dumps(response, indent=4, sort_keys=True))

In [9]:
CPI_df = pd.DataFrame(responseCPI['dataset']['data'])

CPI_df = CPI_df.rename(index=str, columns={0: "month", 1: "CPI"})

CPI_df['month'] = pd.to_datetime(CPI_df['month'])
CPI_df['month'] = CPI_df['month'].dt.strftime('%m/%y')
#CPI_df.head()

   month   CPI
0  11/18 -0.17
1  10/18  0.48
2  09/18  0.45
3  08/18  0.07
4  07/18  0.17

In [11]:
BOV_df = pd.DataFrame(responseBOV['dataset']['data'])

BOV_df = BOV_df.rename(index=str, columns={0: "month", 1: "EMP"})

BOV_df['month'] = pd.to_datetime(BOV_df['month'])
BOV_df['month'] = BOV_df['month'].dt.strftime('%m/%y')
#BOV_df.head()

   month      EMP
0  12/18  87837.0
1  12/18  86977.0
2  12/18  86419.0
3  12/18  85914.0
4  12/18  88115.0

In [12]:
mergedf = pd.merge(mergedf, CPI_df, on = 'month', how = 'left')
mergedf = pd.merge(mergedf, BOV_df, on = 'month', how = 'left')

mergedf

(113425, 11)
(113425, 12)
(113425, 12)
(2343982, 13)

,order_id,customer_id,order_time,product_id,price,product_category_name,category,date_time,YYYY,MM,month,CPI,EMP
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,74308.0
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,74800.0
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,75975.0
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,75896.0
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76671.0
5,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76350.0
6,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,75413.0
7,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76390.0
8,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76283.0
9,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76591.0
10,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76201.0
11,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76891.0
12,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76989.0
13,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76659.0
14,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76897.0
15,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,75726.0
16,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76054.0
17,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76617.0
18,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76591.0
19,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,76762.0
20,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares,2017-10-02 10:56:33,2017,10,10/17,0.33,74359.0
21,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18,0.17,79220.0
22,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18,0.17,80275.0
23,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18,0.17,79866.0
24,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18,0.17,79405.0
25,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18,0.17,80218.0
26,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18,0.17,79154.0
27,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18,0.17,77996.0
28,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18,0.17,78571.0
29,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery,2018-07-24 20:41:37,2018,7,07/18,0.17,77486.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343952,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,computers_accessories,2018-01-08 21:28:27,2018,1,01/18,0.69,79349.0
2343953,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,computers_accessories,2018-01-08 21:28:27,2018,1,01/18,0.69,79365.0
2343954,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,computers_accessories,2018-01-08 21:28:27,2018,1,01/18,0.69,78200.0
2343955,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,computers_accessories,2018-01-08 21:28:27,2018,1,01/18,0.69,78863.0
2343956,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,computers_accessories,2018-01-08 21:28:27,2018,1,01/18,0.69,79378.0
2343957,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,computers_accessories,2018-01-08 21:28:27,2018,1,01/18,0.69,79071.0
2343958,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,computers_accessories,2018-01-08 21:28:27,2018,1,01/18,0.69,78647.0
2343959,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,computers_accessories,2018-01-08 21:28:27,2018,1,01/18,0.69,77995.0
2343960,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,computers_accessories,2018-01-08 21:28:27,2018,1,01/18,0.69,77891.0
2343961,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,85365.0
2343962,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,83874.0
2343963,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,83808.0
2343964,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,85087.0
2343965,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,84377.0
2343966,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,84767.0
2343967,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,84976.0
2343968,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,84163.0
2343969,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,83913.0
2343970,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,84886.0
2343971,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,84928.0
2343972,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,86050.0
2343973,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,86383.0
2343974,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,86900.0
2343975,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,86371.0
2343976,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,84984.0
2343977,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,85483.0
2343978,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,85653.0
2343979,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,86022.0
2343980,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,85761.0
2343981,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,health_beauty,2018-03-08 20:57:30,2018,3,03/18,0.17,85377.0