In [3]:
import requests
import json

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [4]:
# URL for GET requests to retrieve data
urlCPI = "https://www.quandl.com/api/v3/datasets/BCB/191.json?api_key=2vRuu5GNchksqBdcAHzc"
urlBOVESPA = "https://www.quandl.com/api/v3/datasets/BCB/7.json?api_key=2vRuu5GNchksqBdcAHzc"
urlEmployment = "https://www.quandl.com/api/v3/datasets/BCB/10806.json?api_key=2vRuu5GNchksqBdcAHzc"

In [5]:
response = requests.get(urlCPI).json()
#print(json.dumps(response, indent=4, sort_keys=True))

response2 = requests.get(urlEmployment).json()
#print(json.dumps(response, indent=4, sort_keys=True))

In [8]:
data = response['dataset']['data']
CPI_df = pd.DataFrame(data)

CPI_df = CPI_df.rename(index=str, columns={0: "Month", 1: "CPI"})

CPI_df['Month'] = pd.to_datetime(CPI_df['Month'])
CPI_df['Month'] = CPI_df['Month'].dt.strftime('%m/%y')
CPI_df.head()

   Month   CPI
0  11/18 -0.17
1  10/18  0.48
2  09/18  0.45
3  08/18  0.07
4  07/18  0.17

In [7]:
data2 = response2['dataset']['data']
Emp_df = pd.DataFrame(data2)

Emp_df = Emp_df.rename(index=str, columns={0: "Month", 1: "EMP"})

Emp_df['Month'] = pd.to_datetime(Emp_df['Month'])
Emp_df['Month'] = Emp_df['Month'].dt.strftime('%m/%y')
Emp_df.head()

   Month    EMP
0  02/16  883.0
1  01/16  957.0
2  12/15  960.0
3  11/15  938.0
4  10/15  957.0